## -*- coding: utf-8 -*-
<%inherit file="home_base.tmpl"/>
<%block name="container_width">-fluid</%block>
<%block name="content">
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix">
      <li><a href="#aboutme"><i class="icon-chevron-right"></i> About me</a></li>
      <li><a href="#experience"><i class="icon-chevron-right"></i> Experience</a></li>
      <li><a href="#projects"><i class="icon-chevron-right"></i> Projects</a></li>
      <li><a href="#education"><i class="icon-chevron-right"></i> Education</a></li>
      <li><a href="#honors-awards"><i class="icon-chevron-right"></i> Honors and awards</a></li>
      <li><a href="#speaker"><i class="icon-chevron-right"></i> As a speaker</a></li>
      <li><a href="#organizations"><i class="icon-chevron-right"></i> Organizations</a></li>
      <li><a href="#test-scores"><i class="icon-chevron-right"></i> Test scores</a></li>
      <li><a href="#courses"><i class="icon-chevron-right"></i> Courses</a></li>
      <li><a href="#publications"><i class="icon-chevron-right"></i> Publications</a></li>
    </ul>
  </div>
  <div class="span9">
    <section id="aboutme">
      <div class="page-header">
        <h2>About me</h1>
      </div>
      <div class="row">
        <div class="span2">
          <img class="img-circle" src="/galleries/pics/rtnpro_jira.thumbnail.jpg" style="top:-40px; position: relative;"/>
        </div>
        <div class="span6">
        Hi! I am Ratnadeep Debnath. I am also known as rtnpro. I am a FOSS developer and evangelist.
        I work as a Software Engineer at <a href="https://www.goibibo.com/">Goibibo</a>.
        I also contribute to various open source projects like Fedora, Mozilla, Ankur Bangla, etc.
        I also have a deep interest in spirituality and scriptures. In my spare time, I like
        to try my luck with cooking :)
        </div>
      </div>
    </section>
    <section id="experience">
      <div class="page-header">
        <h2>Experience</h2>
      </div>
      <div>
        <h3>Software Engineer at Goibibo, February 2013 to Present</h3>
        <p>
        I will be working on the flight systems and other related backends at Goibibo.
        </p>
        <h3>Software Developer and QA at Transifex , September 2011 – January 2013</h3>
        <p>
        At Transifex, I develop new features, enhance existing ones and implement support for various
        i18n file formats. I also write tests to ensure that things run as they are expected to. User
        support, bug triagging and bug fixing is also a part of my job. At Transifex, we innovate to
        take localization to the next level. Below are a few things(among many) that I have done so
        far at Transifex:
        <ul>
          <li>Implement and enhance file format handlers.</li>
          <li>Implemented Glossary feature.</li>
          <li>Implemented related tag cloud.</li>
          <li>Implemented translation strings API.</li>
          <li>Implemented a super fast test suite.</li>
          <li>Fix and update tests.</li>
          <li>Bug-triagging & bug-fixing.</li>
          <li>Handle user queries and bug reports at support.transifex.com and over live chat at Transifex.</li>
        </ul>
        </p>
      </div>
      <div>
        <h3>Summer Intern at Transifex , June 2011 - August 2011</h3>
        <p>
        It was an awesome experience to work as an Intern at Indifex. I got introduced to a
        plethora of new technologies all of a sudden. I went through a steep learning curve and
        finally it paid off. I contributed to Transifex, increased test coverage for Transifex,
        fixed bugs, added support for new i18n file fomats. I also worked on implementing new
        features for Transifex, like, Glossary, tag assignment, etc.
        </p>
      </div>
    </section>
    <section id="projects">
      <div class="page-header">
        <h2>Projects</h1>
      </div>
      <div class="row">
        <div class="projects-list span4">
          <h3>Mine</h3>
          <div>
            <ul class="unstyled">
            %for project in own_projects:
              <li>
                <a href="${project['url']}" target="_blank"><h4>${project['name']}</h4></a>
                <p>${project['description']}</p>
              </li>
            %endfor
            </ul>
          </div>
        </div>
        <div class="projects-list span4">
          <h3>Upstream contribution</h3>
          <div>
            <ul class="unstyled">
            %for project in upstream_projects:
              <li>
                <a href="${project['url']}" target="_blank"><h4>${project['name']}</h4></a>
                <a class="btn btn-mini" href="${project['url']}/commits/?author=rtnpro" target="_blank">
                  <i class="icon-user"></i> Commits
                </a>
                <p>${project['description']}</p>
              </li>
            %endfor
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="education">
      <div class="page-header">
        <h2>Education</h2>
      </div>
      <ul>
        <li>
          Bachelor of Technology, Computer Science & Engineering from  Dr. B. C. Roy
          Engineering College , 2007 – 2011 (DGPA/CGPA: 8.4).
        </li>
        <li>
          AISSCE from Gurukul Grammar Senior Secondary School, 2007 (Aggregate: 83.8%).
        </li>
        <li>
          HSLCE from Bongaigaon High School English Medium, 2004 (Aggregate: 87%)
        </li>
      </ul>
    </section>
    <section id="honors-awards">
      <div class="page-header">
        <h2>Honors and awards</h2>
      </div>
      <ul>
        <li>2003: 4th rank in the All Assam Chemistry Olympiad (Std. X).</li>
        <li>2002: 1st place from Lion's Club District 322 D in the International PeacePoster Contest.</li>
        <li>
          2011: Bluetooth Relay Chat got shortlisted for Innovative Student Projects Award by
          Indian National Academy of Engineering. This project was presented in the Committee Room,
          Indian National Science Academy (INSA),  Bahadur Shah Zafar Marg, New Delhi-110 002 on
          August 26, 2011 (Friday).
        </li>
      </ul>
    </section>
    <section id="speaker">
      <div class="page-header">
        <h2>As a speaker</h2>
      </div>
      <ol>
        <li>Software Freedom Day, Kolkata, 2009</li>
        <li>Fedora Users and Developers Conference(FUDCON), Pune, 2011</li>
        <li>Mukti, 2012 (NIT Durgapur's FOSS Tech. Fest), 2012</li>
        <li>FUDCON, Kuala Lumpur, 2012</li>
      </ol>
    </section>
    <section id="organizations">
      <div class="page-header">
        <h2>Organizations</h2>
      </div>
      <ul>
        <li>Local coordinator of <a href="http://dgplug.org">DGPLUG</a>, December 2008 to 2011.</li>
        <li>Bhaktivedanta Academy for Culture and Education, Durgapur  as Volunteer, preacher , October 2007 to 2011.</li>
      </ul>
    </section>
    <section id="test-scores">
      <div class="page-header">
        <h2>Test scores</h2>
      </div>
      <ul>
        <li>GRE: 1128 (July 2011)</li>
        <li>GATE (IT & CSE) 2011: 95.6 percentile</li>
      </ul>
    </section>
    <section id="courses">
      <div class="page-header">
        <h2>Courses</h2>
      </div>
      <ol>
        <li>Bachelor of Technology, Computer Science & Engineering , Dr. B. C. Roy Engineering College (Affiliated to West Bengal University of Technology).</li>
        <li>DGPLUG summer training on GNU/Linux Platform and other Open Source technologies, 2008.</li>
        <li>Summer Training and Internship at N. F. Railway : A survey of RAILNET, 2010.</li>
        <li>Red Hat summer internship on “wordGroupz”, 2010.</li>
      </ol>
    </section>
    <section id="publications">
      <div class="page-header">
        <h2>Publications</h2>
      </div>
      <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=5940840&contentType=Conference+Publications&queryText%3DLossless+secure+transmission+in+Bluetooth+scatternet%2C+considering+device+mobility" target="_blank">Lossless secure transmission in Bluetooth scatternet, considering device mobility, IEEE</a>
      <strong>Authors</strong>: Ratnadeep Debnath, Bamacharan Kundu
      <blockquote>
      In this paper, we propose an algorithm for lossless transmission of data in a Bluetooth
      scatternet taking into consideration the mobility of the devices. For this we use the
      scatternet formation and route maintenance algorithms proposed in “Location aware route
      maintenance protocols for mobile Ad Hoc networks”, which reconstructs optimal routes in a
      mobile Ad Hoc Bluetooth network. Our algorithm named Enhanced Mobility Aware Routing (EMOLAR)
      deals with secure data transmission during route reconstruction proposed in Location aware
      route maintenance protocols for mobile Ad Hoc networks.
      </blockquote>
    </section>
  </div>
</div>
</%block>
